<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <httpErrors existingResponse="PassThrough" />

    <rewrite>
      <rules>
        <rule name="Exclude Azure Auth" stopProcessing="true">
          <match url="^\.auth/.*" />
          <action type="None" />
        </rule>
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="C:\PROGRA~2\nodejs\2020~1.2\node.exe"
      nodeProcessCountPerApplication="1"
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="C:\home\site\wwwroot\iisnode"
      errMergeLoggedWithStdout="true"
      watchedFiles="web.config;*.js" />

  </system.webServer>
</configuration>